<a href="/">Home</a>
<a href="/videos">All Videos</a>

<form method="POST" action="/videos"> 
<input type="text" name="song_name" placeholder="Enter song name">
<input type="text" name="artist_name"  placeholder="Enter artist_name">  
<input type="text" name="producer_name" placeholder="Enter a producer_name"> 
<select name="genre">
    <option value="Hip-Hop">Hip-Hop</option>
    <option value="Rock">Rock</option>
    <option value="Electronic">Electronic</option>
    <option value="Other">Other</option>
  </select>
<input type="text" name="video_url" placeholder="Enter video_url"> 
<input type="submit" value="Submit">
</form>