<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="<%= url('addVid.css')%>">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>Add Video</title>
</head>

<body>
    <div id="header" class="container-fluid">
     
        <h1>B*t*z</h1>
    

    </div>
    <div class="container">
        <div id="test" class="row">
            <div id="row1" class="col-sm-12 ">
                <div class="typewriter">
                    <h1>Submit Video</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="submissionContainer">

            <div class="row">
                <div id="signUp" class="col-sm-12">

                        <form method="POST" action="/videos"> 
                            Song Name:
                            <input type="text" name="song_name" placeholder="Enter song name">
                            <br>
                            Artist Name:
                            <input type="text" name="artist_name"  placeholder="Enter artist_name">  
                            <br>
                            Producer Name:
                            <input type="text" name="producer_name" placeholder="Producer name"> 
                            <br>
                            Youtube Link:
                            <input type="text" name="video_url" placeholder="Enter video_url"> 
                            <br>
                            <select name="genre">
                                <option value="Hip-Hop">Hip-Hop</option>
                                <option value="Rock">Rock</option>
                                <option value="Electronic">Electronic</option>
                                <option value="Other">Other</option>
                              </select>
                            
                            <input type="submit" value="Submit">
                            </form>
                        
                   
                </div>

            </div>
        </div>

        <div id="footer" class="container-fluid">
            <div class="row">
                <div class="col-sm-12 footsy">
                Creator: Ben Wexler
                </div>
               
            </div>
        </div>


        <div id="signInButton" class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            <i class="fas fa-bars"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <% if session[:user_id] == nil %>
            <li>
                <a href="/signup">Sign Up</a>
            </li>
        <%end%>
        <% if session[:user_id] == nil %>
            <li>
                <a href='/signin'>Log In</a>
            </li>
            <%end%>

            <% if session[:user_id] != nil %>
            <li>
                <a href="/signout">Log Out</a>
            </li>
            <%end%>
            <li>
                <a href="/videos">All Videos</a>
            </li>

            <% if session[:user_id] != nil %>
            <li>
                <a href='/videos/new'>Add Video</a>
            </li>
            <%end%>
            <li>
                <a href='/users'>All Users</a>
            </li>
            <% if session[:user_id] != nil %>
            <li>
                <a href='/users/:id/edit'>Account Settings</a>
            </li>
            <%end%>
        </ul>
    </div>








        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</body>

</html>