<h1>Sign Up</h1>

<form name="sign_up" action="/signup" method="post">
<input type="text" name="first_name" id="first_name" placeholder="First Name">
<input type="text" name="last_name" id="last_name" placeholder="Last Name">
<input type="text" name="email" id="email" placeholder="Email">
  <input type="text" name="username" id="username" placeholder="Username">
  <input type="password" name="password" id="password" placeholder="Password">
  Birthday:
  <select name="birth_month">
    <option value=1>January</option>
    <option value=2>February</option>
    <option value=3>March</option>
    <option value=4>April</option>
    <option value=5>May</option>
    <option value=6>June</option>
    <option value=7>July</option>
    <option value=8>August</option>
    <option value=9>September</option>
    <option value=10>October</option>
    <option value=11>November</option>
    <option value=12>December</option>
  </select>

  

  <select name="birth_day">
  <% i=1 %>
  <% while i<32 %>
    <option value="<%=i%>"><%=i%></option>
    <%i+=1%>
<%end%>
  </select>

  <select name="birth_year">
  <% i=Date.today.year %>
  <% while i>1903 %>
    <option value="<%=i%>"><%=i%></option>
    <%i-=1%>
<%end%>
  </select>

  <input id="signUpButton" type="submit" value="Go">
</form>


<a href="/signin">Sign In</a>
<a href="/users">All Users</a>
<a href="/videos">All Videos</a>