.dropdown-menu {
    width: 10px;
    min-width: 100px;
    padding-left: 10px;
    color: black !important; 
    z-index: 99999;
} 

#submissionContainer {
    padding-top: 30px
}

a {
    color: black !important; 
}

a:link {
    text-decoration: none;
    color: black !important;
}

a:visited {
    text-decoration: none;
    color: black !important;
}

a:hover {
    text-decoration: none;
    color: #00d7d7 !important;
}

a:active {
    text-decoration: none;
    color: black !important;
}

#signInButton {
    position: absolute;
    top: 0px;
    left: 0px;
    // background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8');
    opacity: .9;
    background: white;
    border-bottom-right-radius: 40%;
    
    /* background-color: black; */
}

#hamburger {
    z-index: 9999;
    -webkit-font-smoothing: auto;
    color: #00d7d7; 
    color: black;
}

